BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80
IncludeBlocks: Regroup
SortIncludes: true
AccessModifierOffset: -2
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*>'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
