[MASTER]
init-hook='import sys; sys.path.append("build")'

[TYPECHECK]
extension-pkg-allow-list=py_bindings
generated-members=Kunde,Produkt,Warenkorb,Konto,Statistik,Datum,Kassenzettel,Supermarkt,Haendler
